@import "./variables";

.toggle_button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35px;
    width: 50px;
    background: transparent;
    border: none;
    cursor: pointer;

}

.toggle_button:focus {
    outline: none;
}

.toggle_button_line {
    width: 100%;
    height: 5px;
    background: $colourPurple;
    border-radius: 5%;




}