@import "../styles/reset";
@import "../styles/variables";

.admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    // padding-top: 120px;
    height: 100%;
    max-width: 100vw;
    padding: 120px 0;

    // new
    .allmedia {
        @include flexCenter(column);
    }

    h1 {
        padding: 100px 10px 25px 10px;
        color: $colourDarkBlue;
        width: 300px;
        // justify-content: flex-start;
        // align-items: flex-start;
    }


    p {
        padding: 10px;
        line-height: 25px;
        width: 50%;
    }

    .videostore {
        padding: 30px 0;
        max-width: 280px;
    }

}