@import "../styles/reset";
@import "../styles/variables";


.ajmedia {
    display: flex;
    justify-content: center;
    max-width: 180px;
}

.addmedia {
    max-width: 100%;
    font-size: .9rem;
}

.mediatable {
    overflow-x: auto;
    width: 100%;
}


.table,
.table .cell {
    border: 1px solid;
    border-collapse: collapse;
}

.table .cell {
    padding: 7px;
    text-align: center;
}

.table .cell.id {
    max-width: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.data {
    padding: 7px;
    text-align: center;
}

label {
    margin: 5px
}

input {
    margin: 5px
}

.buttonsubmit {
    width: 100px;
    background: $colourLightGreen;
    font-family: Comfortaa;
}