@import "../styles/reset";
@import "../styles/variables";

// .allmedia {
//     // overflow-x: visible;
//     left: 0;
// }

.admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    // padding-top: 120px;
    height: 100%;
    max-width: 100vw;
    padding: 120px 0;


    h1 {
        padding: 25px 10px;
        color: $colourDarkBlue;
        width: 50%;
    }


    p {
        padding: 10px;
        line-height: 25px;
        width: 50%;
    }

    .videostore {
        padding: 30px 0;
        max-width: 280px;
    }

}