@import "../styles/reset";
@import "../styles/variables";


.ajmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
}

.addmedia {
    max-width: 100%;
    font-size: .9rem;
}

.mediatable {
    overflow-x: auto;
    width: 100%;
}

// .ajmedia {

//     width: 150px;
// }

// .mediatable {
//     overflow-x: auto;
//     width: 100%;
//     // max-width: 100%;
//     // font-size: .9rem;
// }


// .addmedia {
//     max-width: 100%;
//     font-size: .9rem;
// }

.table,
.table .cell {
    border: 1px solid;
    border-collapse: collapse;
}

.table .cell {
    padding: 7px;
    text-align: center;
}

.table .cell.id {
    max-width: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.data {
    padding: 7px;
    text-align: center;
}

label {
    margin: 5px
}

input {
    margin: 5px
}

.buttonsubmit {
    width: 100px;
    background: $colourLightGreen;
    font-family: Comfortaa;
}