@import "../styles/reset";
@import "../styles/variables";


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    height: 95vh;

}

button {
    width: 100px;
    background: $colourLightGreen;
}

a {
    font-family: Comfortaa
}