footer {
    background: white;
    display: flex;
    border-top: 8px solid #93278f;
    justify-content: space-between;

    section#footerdata {
        min-height: 75px;
        padding-top: 15px;
        padding-right: 75%;

        &p:last-child {
            padding-top: 8px
        }
    }



    div#logos {
        flex-direction: row;
        flex-wrap: wrap;

        a>img.logo {
            width: 30px;
            height: 30px;
            margin: 15px 5px;
        }
    }
}