@import "./reset";
@import "./variables";

footer {
    background: white;
    display: flex;
    border-top: 8px solid #93278f;
    justify-content: space-between;
    // font-family: 'Confortaa';
    min-height: 75px;


    section#footerdata {
        width: 50%;
        padding: 10px;

        .p {
            font-family: 'Muli';
        }


        &p:last-child {
            padding-top: 8px
        }

        a {
            font-size: 14px;
            min-width: 150px;
            display: inline-block;
            padding: 5px 15px;
            text-decoration: none;
            color: black;

            &:hover {
                color: $colourPurple;
                font-size: bold
            }
        }
    }



    div#logos {
        width: 50%;
        display: flex;
        justify-content: right;
        padding-right: 30px;



        a>img.logo {
            width: 30px;
            height: 30px;
            margin: 15px 7px;
        }
    }
}