header {
    padding: 20px 15px;
    background: white;
    max-height: 175px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Comfortaa', cursive;
    flex-direction: row;

    h2 {
        margin: 50px 0 0 -25px;
    }

    a#logo>img#logo {
        height: 100%;
        width: 200px;
        margin-left: 30px;
    }
}


.navbarmenu {
    width: 50%
}

/* 
header>nav {
    min-width: 500px;
    margin-left: 30px;
    display: grid;
} */
/* 
header>nav>a>h3 {
    font-size: 15px;
    text-transform: uppercase;
} */