// COLOURS
$colourPurple : #93278f;
$colourYellow : #ffff05;
$colourDarkGrey: #595959;
$colourLightGreen: #d0edb6;
// $colourDarkBlue: #003366;
$colourDarkBlue: #1c3664;


// TEXT
$basicText : rgb(39, 38, 38);

@mixin flexCenter ($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;

}