@import "./reset";
@import "./variables";



.dash {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
    height: auto;

    p {
        padding: 15px 0;
        max-width: 70%
    }


    .adminaccess {
        margin-top: 50px;
        @include flexCenter(column);
    }


    .adminbtn {
        margin: 20px 0;
        padding: 5px 10px;
    }

    a {
        font-family: 'Comfortaa', cursive;
        color: $colourDarkBlue;
        font-weight: bold;
        text-decoration: none;

    }

}