.dash {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 220px;
    // height: 95vh;

    p {
        padding: 15px 0;
        max-width: 70%
    }

    .dashboardaccess {
        width: 150px;
        height: 50px
    }
}