@import "./reset";
@import "./variables";



// HOME PAGE
section#slide {
    height: auto;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;



    img.haenel {
        display: flex;
        justify-content: center;
        float: center;
        height: auto;
        max-width: 100%;
        // z-index: 0
    }

    @media screen and (min-width:769px) {

        img.haenel {
            display: block;
        }
    }

    @media screen and (max-width:768px) {

        img.haenel {
            display: none;
            padding-top: 250px;
        }
    }
}



// FIN DU SLIDE


// 2 - INTRO

.intro {
    min-height: 350px;
    background: $colourPurple;
    display: flex;
    justify-content: center;
    align-items: center;

    .introdiv {
        max-width: 90%;
        max-height: 80%;
        // min-height: 250px;
        background: white;
        padding: 35px;

        h1 {
            padding: 10px 0;
            color: $colourDarkBlue;
        }

        p {
            padding-top: 10px;
            text-align: justify;
        }

        a {
            text-decoration: none;
            font-weight: bold;
            color: black;

            &:hover {
                color: $colourPurple;
                font-size: bold
            }
        }

    }
}

@media screen and (max-width:768px) {

    .intro {
        padding-top: 100px;
        min-height: 450px;

    }

    .introdiv {
        padding: 10px 10px
    }
}



// FIN INTRO



// 3 - APERCUS 


.apercus {
    min-height: 450px;
    background: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 100px 0;



    .apercusdiv {
        width: 90%;
        height: 90%;
        display: flex;
        justify-content: center;
    }


    .apercu {
        background: $colourDarkBlue;
        height: 200px;
        width: 200px;
        margin: 10px;
        display: flex;
        flex-flow: column;

    }

    .apercuimg {
        width: 100%;
        height: 100%;
    }

    .caption {

        // display: block;
        width: 100%;
        background: $colourDarkBlue;
        height: auto;
        color: white;
        // align-items: center;
        // position: absolute;
        text-align: center;
        top: 0
    }


    @media screen and (max-width:768px) {
        .apercusdiv {
            @include flexCenter(column);
            width: 90%;
            height: 90%;
            // display: flex;
            // justify-content: center;
            // flex-direction: column;

        }


        figure {
            background: red;
            width: 150px;
            height: 150px;
        }
    }


}