@import "./reset";
@import "./variables";

.media-displayer {
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    // align-items: center;
    padding: 150px 10px;
    height: 100%;


    .mediatile {
        padding: 20px;
        width: 280px;
        height: 280px;
        border: 5px solid $colourDarkBlue;
        margin: 15px 30px 15px 30px;
        background: $colourDarkBlue;
    }


    @media screen and (max-width:414px) {

        .mediatile {
            padding: 20px;
            width: 250px;
            height: 250px;
            border: 5px solid $colourDarkBlue;
            margin: 15px;
            background: $colourDarkBlue;
        }
    }

    .infolist {
        list-style: none;
        color: white;
    }

    h3 {
        color: white
    }

    .img {
        color: white
    }

    h1 {
        padding: 25px 0;
        color: $colourPurple;
    }

    .listfilms a {
        line-height: 20px;
        color: black;
        font-size: 15px
    }
}