@import "./reset";
@import "./variables";

.media-displayer {
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    // align-items: center;
    padding: 150px 0;
    height: 100%;


    .mediatile {
        // padding: 20px;
        width: 310px;
        height: 510px;
        border: 5px solid $colourDarkBlue;
        margin: 15px 30px 15px 30px;
        // margin: 30px 0;
        background: $colourDarkBlue;
    }


    @media screen and (max-width:414px) {

        .mediatile {
            // padding: 20px;
            width: 310px;
            // height: 250px;
            // border: 5px solid $colourDarkBlue;
            margin: 15px 0;
            background: $colourDarkBlue;
        }
    }

    .infolist {
        list-style: none;
        color: white;
    }

    li {
        padding: 3px 0
    }

    h3 {
        color: white;
        padding-bottom: 3px;
    }

    .img {
        color: white
    }

    h1 {
        padding: 25px 0;
        color: $colourPurple;
    }

    .listfilms a {
        line-height: 20px;
        color: black;
        font-size: 15px
    }

    .button {
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    .buttonlink {
        width: 100px;
        height: 50px;
        background: white;
        border: white;
        border-radius: 5px;
    }

    .video {
        color: $colourDarkBlue;
        font-weight: bold;
        font-family: 'Comfortaa', cursive;
    }

    a {
        text-decoration: none;
    }

    .mediatile .imgcontainer {
        height: 200px;
        width: 300px;
        background: $colourPurple;
        // padding-bottom: 10px;

    }

    .img {
        width: 100%;
        height: 100%;
    }


    .infos {
        padding: 10px;
        height: 200px;
        width: 300px;
        background: $colourDarkBlue;

    }
}