@import "./reset";
@import "./variables";



.mentions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    // height: 250vh;

    h1 {
        padding: 35px;
        color: $colourDarkBlue;
    }

    .email {
        text-decoration: none;
        color: $colourPurple;
        font-size: bold;
    }

    p {
        padding-top: 5px;
        text-justify: initial;
        line-height: 25px;
        width: 50%;
        text-align: justify;
    }

    .pic {
        padding: 50px 0;
        max-width: 400px;
    }

}