@import "./reset";
@import "./variables";



.mentions {
    @include flexCenter(column);
    padding-top: 120px;
    // height: 250vh;

    h1 {
        padding: 35px;
        color: $colourDarkBlue;
    }

    .h3 {
        padding: 25px
    }

    p {
        padding-top: 5px;
        text-justify: initial;
        line-height: 25px;
        width: 50%;
        text-align: center;
    }

    span {
        text-decoration: underline;
    }

    .pic {
        padding: 50px 0;
        max-width: 400px;
    }

    a {
        text-decoration: none;
        color: black;

        &:hover {
            color: $colourPurple;
            font-size: bold
        }
    }

}