@import "./reset";
@import "./variables";



.signin-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 120px 0 50px 0;
    height: 95vh;
    // height: 100%;
    // max-width: 280px
}

.title {
    padding: 25px 0;
    color: $colourDarkBlue;
}

.btn {
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    color: $colourDarkBlue;
    font-weight: bold;
    padding: 5px 10px;
    margin: 20px;
}

.signin-p {
    margin-bottom: 30px;
}