@import "./reset";
@import "./variables";



.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px 0;
    height: 85vh;
    // max-width: 280px
}

.title {
    padding: 25px 0;
    color: $colourDarkBlue;
}