@import "./reset";
@import "./variables";



.submitform {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    // height: 92vh;

    h1 {

        padding: 25px;
    }


}

;