@import "./reset";
@import "./variables";



.submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    height: 92vh;

    h1 {
        padding: 25px;
    }


}

;