@import "./reset";
@import "./variables";

.media-displayer {
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    // align-items: center;
    padding: 150px 10px;
    height: 100%;


    .mediatile {
        padding: 20px;
        width: 280px;
        height: 280px;
        border: 5px solid $colourDarkBlue;
        margin: 15px 30px 15px 30px;
        background: $colourDarkBlue;
    }


    @media screen and (max-width:414px) {

        .mediatile {
            padding: 20px;
            width: 250px;
            height: 250px;
            border: 5px solid $colourDarkBlue;
            margin: 15px;
            background: $colourDarkBlue;
        }
    }

    .infolist {
        list-style: none;
        color: white;
    }

    li {
        padding: 3px 0
    }

    h3 {
        color: white;
        padding-bottom: 3px;
    }

    .img {
        color: white
    }

    h1 {
        padding: 25px 0;
        color: $colourPurple;
    }

    // .listfilms a {
    //     line-height: 20px;
    //     color: black;
    //     font-size: 15px
    // }

    // .button {
    //     display: flex;
    //     justify-content: center;
    //     padding-top: 20px;
    // }

    // .buttonlink {
    //     width: 100px;
    //     height: 50px;
    //     background: white;
    //     border: white;
    //     border-radius: 5px;
    // }



    // .buttonlink .link {
    //     text-decoration: none;
    //     color: $colourDarkBlue;
    //     font-weight: bold;
    //     font-family: 'Comfortaa', cursive;
    // }

    .banner {
        position: relative;
        width: 100%;
        min-height: 100vh;
        background: #000;
        display: flex;
        justify-content: center;
        align-items: center;

    }


    .banner .content {
        max-width: 550px;
    }

    // .banner .content img {
    //     max-width: 100%;
    //     margin-bottom: 15px;
    // }

    .banner .content .a {
        position: relative;
        text-transform: uppercase;
        background: #fff;
        color: #111;
        font-weight: 500;
        letter-spacing: 2px;
        text-decoration: none;
        display: inline-block;
        padding: 10px 15px;
    }

    .trailer {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10000;
        background: (0, 0, 0, 0.95);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
    }

    .trailer.active {
        visibility: visible;
        opacity: 1;
    }

    .trailer video {
        position: relative;
        max-width: 900px;
        outline: none;
    }

    .close {
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
        filter: invert(1);
        max-width: 32px;

    }

    @media (max-width: 991px) {
        .trailer video {
            max-width: 90%;
        }


    }

}