@import "./reset";
@import "./variables";



.form {
    @include flexCenter (column);
    display: flex;
    height: 275px;


    h2 {
        text-decoration: none;
        color: black;
    }

    .btn {
        font-family: 'Comfortaa', cursive;
        text-decoration: none;
        color: $colourDarkBlue;
        font-weight: bold;
        padding: 5px 10px;
    }


}