@import "./reset";
@import "./variables";



.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    // height: 250vh;
    display: flex;
    align-items: center;
    justify-content: center;


    h2 {
        text-decoration: none;
        color: black;
        // font-size: ;

    }

    // p {
    //     padding-top: 5px;
    //     text-justify: initial;
    //     line-height: 25px;
    //     width: 50%;
    //     text-align: justify;
    //     font-family: 'muli';
    // }



}