@import "./components/styles/reset";
@import "./components/styles/footer";
@import "./components/styles/variables";


@mixin flexCenter ($direction, $background) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  background: $background;
}


.work {
  color: purple;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

// @include flexCenter(column, red); --> flex direction will be column + background will be red

// SASS funtionnalities

// 1/ partials (bits of code in =/= files
// 2/ nesting
// 3/ 


// EXTEND !! 
// Example with body {}
// if i want to style newThing with the styling given to body--> newThing { @extend body;}
// if i just want to change the background color for instance, i'll add "background: lovelyblue;"
// but the command has to be below the "extend" to override it


// OPERATORS
//you can use +-*/ eg. width: 100% - 20%




/* font-family: 'Open Sans', sans-serif; --> ou muli !? 
font-family: 'Comfortaa', cursive; */

/* @import url("menu.css"); ---> pas fait !! */

body {
  width: 100%;
  font-family: 'Comfortaa', cursive;
  overflow-x: hidden;

}


// HOME PAGE
section#slide {
  height: auto;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  // margin-top: 100px;

  img.haenel {
    height: auto;
    max-width: 100%;
    // z-index: 0
  }

  p#catchphrase {
    max-height: 100px;
    width: 100%;
    // z-index: 1;
    width: 200px;
    height: 75px;
    background: white;
    opacity: 0.5;
    text-align: center;
    padding: 15px 0;

  }
}

// FIN DU SLIDE


// 2 - INTRO

section#intro {
  min-height: 400px;
  background: $colourPurple;
  display: flex;
  justify-content: center;
  align-items: center;

  div#intro {
    width: 90%;
    min-height: 250px;
    background: white;
    padding: 35px 35px;

    p {
      padding-top: 10px;
      font-family: 'Open Sans', sans-serif;
    }
  }
}

// FIN INTRO



// 3 - APERCUS 


section#apercus {
  height: 450px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;


  div#apercus {
    width: 75%;
    height: 75%;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    justify-content: center;


    /* grid-template-columns: 33% 33% 33%; */
    /* grid-template-rows: 33% 33% 33%; */
    figure {
      background: lightblue;
      margin: 10px 10px;
      /* width: 150px;
        height: 150px */

    }
  }
}




// DEFAULT STUFF


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */