@import "./components/styles/reset";
@import "./components/styles/footer";
@import "./components/styles/variables";


/* font-family: 'Open Sans', sans-serif; --> ou muli !? 
font-family: 'Comfortaa', cursive; */
// font-family : 'Muli';


body {
  width: 100%;
  font-family: 'Comfortaa', cursive;
  overflow-x: hidden;

}